.piece {
  display: inline-block;
  position: relative;
}
.piece .stick {
  position: absolute;
  opacity: 0.6;
}
.piece .row .block {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.piece .row .block.solid {
  background: rgba(0, 0, 0, 0.4);
}

.solution {
  position: relative;
  display: inline-block;
  margin: 20px;
}

/* BELOW */

.solution .below {

}
.solution .below .piece + .piece {
  margin-left: -20px;
}
.solution .below .piece .stick {
  top: 0;
  left: 20px;
  width: 10px;
  height: 100%;
  background-color: blue;
}
.solution .below .piece .row {
  height: 20px;
}
.solution .below .piece .row + .row {
  margin-top: 10px;
}
.solution .below .piece .row .block + .block {
  margin-left: 10px;
}


/* ABOVE */

.solution .above {
  position: absolute;
  top: 0;
  left: 0;
}
.solution .above .piece {
  display: block;
  height: 50px;
}
.solution .above .piece + .piece {
  margin-top: -20px;
}
.solution .above .piece .stick {
  top: 20px;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: red;
}
.solution .above .piece .row {
  display: inline-block;
}
.solution .above .piece .row + .row {
  margin-left: 10px;
}
.solution .above .piece .row .block {
  display: block;
}
.solution .above .piece .row .block + .block {
  margin-top: 10px;
}
